= flash[:notice] if flash[:notice]

%p Welcome to Delinquent Coder. Go ahead. Snoop around.

%p
  - if session[:github]
    %p
      = link_to "Logout", github_logout_path
    = session[:github].as_json if session[:github]
  - else
    = link_to "Login with Github", github_auth_path
