// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#banner {
  background-color: #BAD;
  border: 1px solid red;
  float: left;
  margin: 1px;
  text-align: right;
  width: 600px;
}

#login {
  border: 1px solid red;
  float: right;
  margin: 40px 0px 0 40px;
  padding: 0 10px 0 0;
  text-align: right;
  width: 90px;
}

#flash {
  border: 1px solid red;
  color: green;
  margin: 1px;
}

#main {
  border: 1px solid red;
  clear: both;
  float: left;
  margin: 1px;
  width: 400px;
}
